@import "variables";
@import "mixins";

body {
    background-color:$color-quaternary;
    
}

.logo{
    color: $color-primary;
}

.btn-site{
    background-color: $color-primary;
    @include border-radius(10px);
}
